
ol{list-style-type:circle;}
*{padding:0;margin:0;border:none;text-decoration:none;box-sizing:border-box;}
body{padding:1px;font-family:"Arial";font-size:16px;padding-bottom:80px;/*background:#ffcf01;*/}
a{color:#FFFFFF;}
.inputs{padding:5px 10px 5px 10px;color:#383838;border:solid 2px #383838;border-left:none;background:#FFFFFF;}
.left{float:left;}
.right{float:right;}
.hero{width:48px;}
.avatar{height:27px;}
.clear{clear:both;overflow:hidden;}

#toolbar{border-bottom:solid 5px #383838;position:fixed;bottom:0px;width:100%;z-index:0;}
#toolbar img{height:30px;display:block;margin:auto;}
#clock{right:0px;padding:10px;width:100px;margin-top:7px;}
p{font-size:14px;clear:both;padding-top:5px;}
.list{padding:25px 25px 15px 25px;background:#4B69FF;border-right:solid 2px #FFFFFF;}
.list_small{padding:10px 5px 5px 40px; margin-top:30px;}
.list:hover{background:#383838;padding:25px 25px 15px 25px;border-right:solid 2px #FFFFFF;}
.textLight{color:#FFFFFF}
.textSmall{font-size:11px;}
.textBig{font-size:18px;text-transform:uppercase;}
.up_case{text-transform:uppercase;}
.center{text-align:center;}

.space{padding:15px 5px 15px 5px}
.data-list{text-align:center;width:100%;border-bottom:solid 10px #383838;border-top:solid 2px #383838;}
.data-list tr{background:#383838;}
.data-list tr:hover{background:#1A1A1A;cursor:pointer;}
.data-list tr.finished:hover{background:#1A1A1A;cursor:pointer;}
.data-list tr.finished{background:#4A4A4A;}
.data-list td{
    border-top:solid 1px #4A4A4A;border-bottom:solid 1px #1A1A1A;border-left:solid 1px #4A4A4A;border-right:solid 1px #1A1A1A;
}
.data-text{padding-left:7px;padding-right:7px;}
.click-dark:hover{background:#FFFFFF;color:#383838;}


.item{padding:0px;}
.items div:hover{border:solid 2px #EB4B4B;}

.icon img{height:21px;}
.page{overflow:hidden;margin:auto;width:100%;text-align:center;border-top:solid 5px #383838;padding-bottom:20px;}
.page table{font-size:16px;position:relative;z-index:3;}
.page table td > div{padding:2px 5px 2px 5px;}
.tournament{float:left;padding-left:30px;/*border:solid 1px #9E9E9E;*/}
.spaced{min-width:200px;display:inline-block;}
.spaced .b-l{padding-top:5px;padding-bottom:5px;}

.b-r{border-right:solid 2px #383838;}
.b-r-r{border-right:solid 2px #EB4B4B;}
.b-l{border-left:solid 2px #383838;}
.b-t{border-top:solid 2px #383838;}
.b-b{border-bottom:solid 2px #383838;}
.b-a{border:solid 2px #383838;}
.b-w{border:solid 2px #E4AE33;outline:#E4AE33 solid 1px;}
.b-w-r{border-right:solid 2px #E4AE33;}
.nb-r{border-right:none;}
.nb-l{border-left:none;}

.rare{background:#4B69FF;}
.unc{background:#5E98D9;}
.com{background:#B0C3D9;}
.key{background:#E4AE33;}

.dark{background:#383838;}

.click{text-align:right;padding:2px 5px 2px 5px;overflow:hidden;}
.neutral{color:#383838;background:#FFFFFF;}
.tip{width:70px;text-align:left;font-size:11px;}
.dest{padding:8px 5px 0px 10px;}
.click:hover{background:#383838;color:#FFFFFF;}
.note{display:none;position:absolute;border-radius:2px;padding:3px;font-size:11px;max-width:145px;}

.players{padding:0px; padding-right:2px}
.players img{width:35px; border:solid 2px #383838;padding:0px;margin:0px;}

.duel{padding:0px;margin-right:3px;border-top:solid 4px transparent;border-bottom:solid 4px transparent;}
.duel:hover{border-top:solid 4px #92C24C;}
.img{border:solid 2px #383838;width:35px;}
.first{margin-right:2px;}
.duel div{text-align:center;padding:2px}
.win{width:40px;border:solid 2px #383838;border-top:3px solid #92C24C;}
.lose{width:25px;border:solid 2px #383838;border-top:solid 3px #EB4B4B;}


.accept{background:#92C24C;}
.edit{background:#E4AE33;}
.delete{background:#EB4B4B;}